*,ol,ul {margin: 0px;padding: 0px;}
.row {
    width: 100%;
    height: auto;
    margin: 0 auto
}
.row:after {
    content: "";
    display: table;
    clear: both
}
.fullwidth{width:100%;}
body{font-size: 16px;}
div,article,aside,details,figcaption,figure,footer,header,main,mark,nav,section,summary,time {
    display: block;
    box-sizing: border-box
}
ol,ul{
    list-style: none
}
h1,h2,h3,h4,h5,h6{
    line-height: 110%;
    margin: 8px 0 16px;
}
a{
    text-decoration: none;
    color:#4ca5cd
}
a,img{
    outline: 0;
    border: none
}
p{
    padding-bottom: 16px;
    line-height: 1.4
}
img,object,embed{
    height: auto;
    max-width: 100%
}
.fullimage img{width:100%}
img.alignright{
    float: right;
    margin: 0 0 16px 16px
}
img.alignleft{
    float: left;
    margin: 0 16px 16px 0
}
img.aligncenter{
    margin: 16px auto;
    display: block
}

button,
input[type=text],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=submit],
input[type=button],
input[type=password],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=email],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .75);
    display: block;
    font-size: .875em;
    margin: 0 0 16px;
    padding: 0 8px;
    height: 2.3125em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out;
    -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out;
    transition: box-shadow .45s, border-color .45s ease-in-out
}
input[type=text]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=email]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    background: #fafafa;
    border-color: #999;
    outline: 0
}
input[type=text][disabled],
input[type=number][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=time][disabled],
input[type=url][disabled],
input[type=password][disabled],
input[type=date][disabled],
input[type=datetime][disabled],
input[type=datetime-local][disabled],
input[type=month][disabled],
input[type=week][disabled],
input[type=email][disabled],
textarea[disabled] {
    background-color: #ddd
}
button,
input[type=submit] {
    background: #569BC2;
    color: #fff;
    border: none;
    transition: background-color .3s ease-out 0s;
    cursor: pointer
}
button:hover,
input[type=submit]:hover {
    background: #3F6690
}
input[type=file],
input[type=checkbox],
input[type=radio],
select {
    margin: 0 0 16px
}
select {
    background: #FAFAFA;
    border: 1px solid #CCC;
    font-size: .875em;
    padding: 8px
}
input[type=checkbox]+label,
input[type=radio]+label {
    display: inline-block;
    margin-left: 8px;
    margin-right: 16px;
    margin-bottom: 0;
    vertical-align: baseline
}
fieldset {
    border: 1px solid #ddd;
    padding: 1.25em;
    margin: 1.125em 0
}
fieldset legend {
    font-weight: 700;
    background: #fff;
    padding: 0 .1875em;
    margin: 0 0 0 -.1875em
}
.btn,
label {
    cursor: pointer;
    font-weight: 400
}
label {
    color: #4d4d4d;
    display: block;
    margin-bottom: 8px
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #2e6da4;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #337ab7;
    color: #fff
}
.btn.active,
.btn.focus,
.btn:active,
.btn:focus,
.btn:hover,
.open>.dropdown-toggle.btn {
    background-color: #286090;
    color: #fff
}
.btn-positive {
    background-color: #5cb85c;
    border-color: #4cae4c
}
.btn-positive.active,
.btn-positive.focus,
.btn-positive:active,
.btn-positive:focus,
.btn-positive:hover,
.open>.dropdown-toggle.btn-positive {
    background-color: #449d44;
    color: #fff
}
.btn-negative {
    background-color: #d9534f;
    border-color: #d43f3a
}

[class^=l-] {
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    float: left
}

.nobor-l,
.nobor-lr {
    border-left: none
}
.nobor-lr,
.nobor-r {
    border-right: none
}
.nobor-t,
.nobor-tb {
    border-top: none
}
.btn-negative.active,
.btn-negative.focus,
.btn-negative:active,
.btn-negative:focus,
.btn-negative:hover,
.open>.dropdown-toggle.btn-negative {
    background-color: #c9302c;
    color: #fff
}
.end {
    clear: left;
    float: none
}

.l-hide {
    display: block
}
.l-show {
    display: none
}
.m-hide {
    display: block
}
.m-show {
    display: none
}
.sm-hide {
    display: block
}
.sm-show {
    display: none
}
.s-hide {
    display: block
}
.s-show {
    display: none
}
.xs-hide {
    display: block
}
.xs-show {
    display: none
}
.pad {
    padding: 16px
}
.nopad {
    padding: 0
}
.pad-b,
.pad-tb {
    padding-bottom: 16px
}
.pad-t,
.pad-tb {
    padding-top: 16px
}
.pad-l,
.pad-lr {
    padding-left: 16px
}
.pad-lr,
.pad-r {
    padding-right: 16px
}
.mar-t,
.mar-tb {
    margin-top: 16px
}
.mar-b,
.mar-tb {
    margin-bottom: 16px
}

.nopad-l,
.nopad-lr {
    padding-left: 0
}
.nopad-lr,
.nopad-r {
    padding-right: 0
}
.nopad-t,
.nopad-tb {
    padding-top: 0
}
.nopad-b,
.nopad-tb {
    padding-bottom: 0
}

.neg-mar-lr {
    margin-left: -16px;
    margin-right: -16px
}
.mar-l,
.mar-lr {
    margin-left: 16px
}
.mar-lr,
.mar-r {
    margin-right: 16px
}
.mar {
    margin: 16px
}
.nomar {
    margin: 0
}
.nomar-l,
.nomar-lr {
    margin-left: 0
}
.nomar-lr,
.nomar-r {
    margin-right: 0
}
.nomar-t,
.nomar-tb {
    margin-top: 0
}
.nomar-b,
.nomar-tb {
    margin-bottom: 0
}

.nobor-tb {
    border-bottom: none
}
.nobor-b {
    border-bottom: none
}
.nobor {
    border: none
}
.txt-r {
    text-align: right
}
.txt-l {
    text-align: left
}
.txt-c {
    text-align: center
}
.center {
    margin: 0 auto;
    display: table;
    float: none
}
.left {
    float: left
}
.right {
    float: right
}
.f-red {
    color: red
}
.f-green {
    color: green
}
.f-black {
    color: #000
}
.f-white {
    color: #fff
}
.bg-white {
    background: #fff
}

.hide {
    display: none
}
.show {
    display: block
}
.panel {
    border: 1px solid #ccc;
    padding: 16px
}
.panel .panel-body,
.panel header {
    padding: 8px 16px
}

.txt-upc {
    text-transform: uppercase
}
.txt-loc {
    text-transform: uppercase
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.l-1 {
    width: 8.33333333333%
}
.l-2 {
    width: 16.6666666667%
}
.l-3 {
    width: 25%
}
.l-4 {
    width: 33.3333333333%
}
.l-5 {
    width: 41.6666666667%
}
.l-6 {
    width: 50%
}
.l-7 {
    width: 58.3333333333%
}
.l-8 {
    width: 66.6666666667%
}
.l-9 {
    width: 75%
}
.l-10 {
    width: 83.3333333333%
}
.l-11 {
    width: 91.6666666667%
}
.l-12 {
    width: 100%
}

.l-grid-4>li:nth-of-type(4n+1),
[class*=grid-]:after {
    clear: both
}
[class*=l-grid-]:after,
[class*=l-grid-]:before {
    content: " ";
    display: table
}
[class*=l-grid-] {
    display: block;
    /*margin: 0 -.625em;*/
    padding: 0
}
[class*=l-grid-]>li {
    display: inline;
    float: left;
    height: auto;
    padding: .625em
}
.l-grid-1>li{width: 100%}
.l-grid-2>li{width: 50%}
.l-grid-3>li{width: 33.33%}
.l-grid-4>li{width: 25%}
.l-grid-5>li{width: 20%}
.l-grid-6>li{width: 16.6666667%}
.l-grid-1>li:nth-of-type(n+1), .l-grid-2>li:nth-of-type(n), .l-grid-3>li:nth-of-type(n+1), .l-grid-4>li:nth-of-type(n), .l-grid-5>li:nth-of-type(n+1), .l-grid-6>li:nth-of-type(n){clear: none}

@media only screen and (min-width: 1024px) {
    .l-pad {
        padding: 16px
    }
    .l-nopad {
        padding: 0
    }
    .l-pad-b,
    .l-pad-tb {
        padding-bottom: 16px
    }
    .l-pad-t,
    .l-pad-tb {
        padding-top: 16px
    }
    .l-pad-l,
    .l-pad-lr {
        padding-left: 16px
    }
    .l-pad-lr,
    .l-pad-r {
        padding-right: 16px
    }
    .l-nopad-l,
    .l-nopad-lr {
        padding-left: 0
    }
    .l-nopad-lr,
    .l-nopad-r {
        padding-right: 0
    }
    .l-nopad-t,
    .l-nopad-tb {
        padding-top: 0
    }
    .l-nopad-b,
    .l-nopad-tb {
        padding-bottom: 0
    }
    .l-mar {
        margin: 16px
    }
    .l-nomar {
        margin: 0
    }
    .l-mar-t,
    .l-mar-tb {
        margin-top: 16px
    }
    .l-mar-b,
    .l-mar-tb {
        margin-bottom: 16px
    }
    .l-mar-l,
    .l-mar-lr {
        margin-left: 16px
    }
    .l-mar-lr,
    .l-mar-r {
        margin-right: 16px
    }
    .l-nomar-l,
    .l-nomar-lr {
        margin-left: 0
    }
    .l-nomar-lr,
    .l-nomar-r {
        margin-right: 0
    }
    .l-nomar-t,
    .l-nomar-tb {
        margin-top: 0
    }
    .l-nomar-b,
    .l-nomar-tb {
        margin-bottom: 0
    }   
    .l-txt-r {
        text-align: right
    }
    .l-txt-l {
        text-align: left
    }
    .l-txt-c {
        text-align: center
    }
    .l-center {
        margin: 0 auto
    }
    .l-hide {
        display: none
    }
    .l-show {
        display: block
    }
}
@media only screen and (max-width: 1024px) {
    .m-1 {
        width: 8.33333333333%
    }
    .m-2 {
        width: 16.6666666667%
    }
    .m-3 {
        width: 25%
    }
    .m-4 {
        width: 33.3333333333%
    }
    .m-5 {
        width: 41.6666666667%
    }
    .m-6 {
        width: 50%
    }
    .m-7 {
        width: 58.3333333333%
    }
    .m-8 {
        width: 66.6666666667%
    }
    .m-9 {
        width: 75%
    }
    .m-10 {
        width: 83.3333333333%
    }
    .m-11 {
        width: 91.6666666667%
    }
    .m-12 {
        width: 100%
    }
    .m-pad {
        padding: 16px
    }
    .m-nopad {
        padding: 0
    }
    .m-pad-b,
    .m-pad-tb {
        padding-bottom: 16px
    }
    .m-pad-t,
    .m-pad-tb {
        padding-top: 16px
    }
    .m-pad-l,
    .m-pad-lr {
        padding-left: 16px
    }
    .m-pad-lr,
    .m-pad-r {
        padding-right: 16px
    }
    .m-nopad-l,
    .m-nopad-lr {
        padding-left: 0
    }
    .m-nopad-lr,
    .m-nopad-r {
        padding-right: 0
    }
    .m-nopad-t,
    .m-nopad-tb {
        padding-top: 0
    }
    .m-nopad-b,
    .m-nopad-tb {
        padding-bottom: 0
    }
    .m-mar {
        margin: 16px
    }
    .m-nomar {
        margin: 0
    }
    .m-mar-t,
    .m-mar-tb {
        margin-top: 16px
    }
    .m-mar-b,
    .m-mar-tb {
        margin-bottom: 16px
    }
    .m-mar-l,
    .m-mar-lr {
        margin-left: 16px
    }
    .m-mar-lr,
    .m-mar-r {
        margin-right: 16px
    }   

    .m-nomar-l,
    .m-nomar-lr {
        margin-left: 0
    }
    .m-nomar-lr,
    .m-nomar-r {
        margin-right: 0
    }
    .m-nomar-t,
    .m-nomar-tb {
        margin-top: 0
    }
    .m-nomar-b,
    .m-nomar-tb {
        margin-bottom: 0
    }   
    .m-txt-r {
        text-align: right
    }
    .m-txt-l {
        text-align: left
    }
    .m-txt-c {
        text-align: center
    }
    .m-center {
        margin: 0 auto
    }
    .m-hide {
        display: none
    }
    .m-show {
        display: block
    }

    .m-grid-1>li{width: 100%}
    .m-grid-2>li{width: 50%}
    .m-grid-3>li{width: 33.33%}
    .m-grid-4>li{width: 25%}
    .m-grid-5>li{width: 20%}
    .m-grid-6>li{width: 16.6666667%}
    .m-grid-1>li:nth-of-type(n+1), .m-grid-2>li:nth-of-type(n), .m-grid-3>li:nth-of-type(n+1), .m-grid-4>li:nth-of-type(n), .m-grid-5>li:nth-of-type(n+1), .m-grid-6>li:nth-of-type(n){clear: none}

}
@media only screen and (max-width: 768px) {


    .sm-1 {
        width: 8.33333333333%
    }
    .sm-2 {
        width: 16.6666666667%
    }
    .sm-3 {
        width: 25%
    }
    .sm-4 {
        width: 33.3333333333%
    }
    .sm-5 {
        width: 41.6666666667%
    }
    .sm-6 {
        width: 50%
    }
    .sm-7 {
        width: 58.3333333333%
    }
    .sm-8 {
        width: 66.6666666667%
    }
    .sm-9 {
        width: 75%
    }
    .sm-10 {
        width: 83.3333333333%
    }
    .sm-11 {
        width: 91.6666666667%
    }
    .sm-12 {
        width: 100%
    }
    .sm-pad {
        padding: 16px
    }
    .sm-nopad {
        padding: 0
    }
    .sm-pad-b,
    .sm-pad-tb {
        padding-bottom: 16px
    }
    .sm-pad-t,
    .sm-pad-tb {
        padding-top: 16px
    }
    .sm-pad-l,
    .sm-pad-lr {
        padding-left: 16px
    }
    .sm-pad-lr,
    .sm-pad-r {
        padding-right: 16px
    }

    
    .sm-nopad-l,
    .sm-nopad-lr {
        padding-left: 0
    }
    .sm-nopad-lr,
    .sm-nopad-r {
        padding-right: 0
    }
    .sm-nopad-t,
    .sm-nopad-tb {
        padding-top: 0
    }
    .sm-nopad-b,
    .sm-nopad-tb {
        padding-bottom: 0
    }
    .sm-mar {
        margin: 16px
    }
    .sm-nomar {
        margin: 0
    }
    .sm-mar-t,
    .sm-mar-tb {
        margin-top: 16px
    }
    .sm-mar-b,
    .sm-mar-tb {
        margin-bottom: 16px
    }
    .sm-mar-l,
    .sm-mar-lr {
        margin-left: 16px
    }
    .sm-mar-lr,
    .sm-mar-r {
        margin-right: 16px
    }

    .sm-nomar-l,
    .sm-nomar-lr {
        margin-left: 0
    }
    .sm-nomar-lr,
    .sm-nomar-r {
        margin-right: 0
    }
    .sm-nomar-t,
    .sm-nomar-tb {
        margin-top: 0
    }
    .sm-nomar-b,
    .sm-nomar-tb {
        margin-bottom: 0
    }
    
    .sm-txt-r {
        text-align: right
    }
    .sm-txt-l {
        text-align: left
    }
    .sm-txt-c {
        text-align: center
    }
    .sm-center {
        margin: 0 auto
    }
    .sm-hide {
        display: none
    }
    .sm-show {
        display: block
    }

    .sm-grid-1>li{width: 100%}
    .sm-grid-2>li{width: 50%}
    .sm-grid-3>li{width: 33.33%}
    .sm-grid-4>li{width: 25%}
    .sm-grid-5>li{width: 20%}
    .sm-grid-6>li{width: 16.6666667%}
    .sm-grid-1>li:nth-of-type(n+1), .sm-grid-2>li:nth-of-type(n), .sm-grid-3>li:nth-of-type(n+1), .sm-grid-4>li:nth-of-type(n), .sm-grid-5>li:nth-of-type(n+1), .sm-grid-6>li:nth-of-type(n){clear: none}

}
@media only screen and (max-width: 640px) {
    
    .s-1 {
        width: 8.33333333333%
    }
    .s-2 {
        width: 16.6666666667%
    }
    .s-3 {
        width: 25%
    }
    .s-4 {
        width: 33.3333333333%
    }
    .s-5 {
        width: 41.6666666667%
    }
    .s-6 {
        width: 50%
    }
    .s-7 {
        width: 58.3333333333%
    }
    .s-8 {
        width: 66.6666666667%
    }
    .s-9 {
        width: 75%
    }
    .s-10 {
        width: 83.3333333333%
    }
    .s-11 {
        width: 91.6666666667%
    }
    .s-12 {
        width: 100%
    }
    .s-pad {
        padding: 16px
    }
    .s-nopad {
        padding: 0
    }
    .s-pad-b,
    .s-pad-tb {
        padding-bottom: 16px
    }
    .s-pad-t,
    .s-pad-tb {
        padding-top: 16px
    }
    .s-pad-l,
    .s-pad-lr {
        padding-left: 16px
    }
    .s-pad-lr,
    .s-pad-r {
        padding-right: 16px
    }
    
    .s-nopad-l,
    .s-nopad-lr {
        padding-left: 0
    }
    .s-nopad-lr,
    .s-nopad-r {
        padding-right: 0
    }
    .s-nopad-t,
    .s-nopad-tb {
        padding-top: 0
    }
    .s-nopad-b,
    .s-nopad-tb {
        padding-bottom: 0
    }
    
    .s-mar {
        margin: 16px
    }
    .s-nomar {
        margin: 0
    }
    .s-mar-t,
    .s-mar-tb {
        margin-top: 16px
    }
    .s-mar-b,
    .s-mar-tb {
        margin-bottom: 16px
    }
    .s-mar-l,
    .s-mar-lr {
        margin-left: 16px
    }
    .s-mar-lr,
    .s-mar-r {
        margin-right: 16px
    }
    .s-nomar-l,
    .s-nomar-lr {
        margin-left: 0
    }
    .s-nomar-lr,
    .s-nomar-r {
        margin-right: 0
    }
    .s-nomar-t,
    .s-nomar-tb {
        margin-top: 0
    }
    .s-nomar-b,
    .s-nomar-tb {
        margin-bottom: 0
    }
    
    .s-txt-r {
        text-align: right
    }
    .s-txt-l {
        text-align: left
    }
    .s-txt-c {
        text-align: center
    }
    .s-center {
        margin: 0 auto
    }
    .s-hide {
        display: none
    }
    .s-show {
        display: block
    }
    .s-grid-1>li{width: 100%}
    .s-grid-2>li{width: 50%}
    .s-grid-3>li{width: 33.33%}
    .s-grid-4>li{width: 25%}
    .s-grid-5>li{width: 20%}
    .s-grid-6>li{width: 16.6666667%}
    .s-grid-1>li:nth-of-type(n+1), .s-grid-2>li:nth-of-type(n), .s-grid-3>li:nth-of-type(n+1), .s-grid-4>li:nth-of-type(n), .s-grid-5>li:nth-of-type(n+1), .s-grid-6>li:nth-of-type(n){clear: none}
}
@media only screen and (max-width: 480px) {
    
    .xs-1 {
        width: 8.33333333333%
    }
    .xs-2 {
        width: 16.6666666667%
    }
    .xs-3 {
        width: 25%
    }
    .xs-4 {
        width: 33.3333333333%
    }
    .xs-5 {
        width: 41.6666666667%
    }
    .xs-6 {
        width: 50%
    }
    .xs-7 {
        width: 58.3333333333%
    }
    .xs-8 {
        width: 66.6666666667%
    }
    .xs-9 {
        width: 75%
    }
    .xs-10 {
        width: 83.3333333333%
    }
    .xs-11 {
        width: 91.6666666667%
    }
    .xs-12 {
        width: 100%
    }
    .sx-pad {
        padding: 16px
    }
    .sx-nopad {
        padding: 0
    }
    .sx-pad-b,
    .sx-pad-tb {
        padding-bottom: 16px
    }
    .sx-pad-t,
    .sx-pad-tb {
        padding-top: 16px
    }
    .sx-pad-l,
    .sx-pad-lr {
        padding-left: 16px
    }
    .sx-pad-lr,
    .sx-pad-r {
        padding-right: 16px
    }
    .sx-nopad-l,
    .sx-nopad-lr {
        padding-left: 0
    }
    .sx-nopad-lr,
    .sx-nopad-r {
        padding-right: 0
    }
    .sx-nopad-t,
    .sx-nopad-tb {
        padding-top: 0
    }
    .sx-nopad-b,
    .sx-nopad-tb {
        padding-bottom: 0
    }
    
    .sx-mar {
        margin: 16px
    }
    .sx-nomar {
        margin: 0
    }
    .sx-mar-t,
    .sx-mar-tb {
        margin-top: 16px
    }
    .sx-mar-b,
    .sx-mar-tb {
        margin-bottom: 16px
    }
    .sx-mar-l,
    .sx-mar-lr {
        margin-left: 16px
    }
    .sx-mar-lr,
    .sx-mar-r {
        margin-right: 16px
    }
    .sx-nomar-l,
    .sx-nomar-lr {
        margin-left: 0
    }
    .sx-nomar-lr,
    .sx-nomar-r {
        margin-right: 0
    }
    .sx-nomar-t,
    .sx-nomar-tb {
        margin-top: 0
    }
    .sx-nomar-b,
    .sx-nomar-tb {
        margin-bottom: 0
    }
    
    .sx-txt-r {
        text-align: right
    }
    .sx-txt-l {
        text-align: left
    }
    .sx-txt-c {
        text-align: center
    }
    .sx-center {
        margin: 0 auto
    }
    .sx-hide {
        display: none
    }
    .sx-show {
        display: block
    }
    .xs-grid-1>li{width: 100%}
    .xs-grid-2>li{width: 50%}
    .xs-grid-3>li{width: 33.3333333%}
    .xs-grid-4>li{width: 25%}
    .xs-grid-5>li{width: 20%}
    .xs-grid-6>li{width: 16.6666667%}
    .xs-grid-1>li:nth-of-type(n+1), .xs-grid-2>li:nth-of-type(n), .xs-grid-3>li:nth-of-type(n+1), .xs-grid-4>li:nth-of-type(n), .xs-grid-5>li:nth-of-type(n+1), .xs-grid-6>li:nth-of-type(n){clear: none}
}


